@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_BancosModel

@{
    Layout = null;
}
<div data-title="Detalles" class="TituloModal"></div>
<div class="row">
    <div class="col-sm-4">@Html.LabelFor(model => model.Descripcion)</div>
    <div class="col-sm-7"> @Html.DisplayFor(model => model.Descripcion)</div>
</div><br />
<div class="row">
    <div class="col-sm-4">@Html.LabelFor(model => model.Id_Cuenta)</div>
    <div class="col-sm-7"> @Html.DisplayFor(model => model.Id_Cuenta)</div>
</div>
<script>
    $(function () {
        $("#MyModal1 .js_btnOk").hide();
    });
</script>