@{
    Layout = null;
}

<div class="row" id="bsqGiros">
    <div class="col-sm-12">
        Descripción
    </div>
    <div class="col-sm-12">
        @Html.TextBox("Descripcion","")
    </div>
</div>
<div class="row" id="bsqGirosTbl"></div>
<script>
    $(document).ready(function () {
        $("#bsqGiros input,textarea,select").addClass("form-control");
    });
</script>