@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-12 text-center">
        <label>Password</label>
        <input type="password" id="validar" name="validar" class="form-control" />
    </div>
</div>
