@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_EstadosModel

@{
    ViewBag.Title = "Editar Estados";
    Layout = null;
}
<div data-title="Editar Estado" class="TituloModal"></div>
<div data-text="Guardar" class="btnOk"></div>
<div data-text="Cancelar" class="btnCancel"></div>
<form id="frm">
    @Html.ValidationSummary(true)
    @Html.Hidden("Id_Estado", Model.Id_Estado)
    <div class="editor-label">
        Descripción
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
</form>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
<script>
    $(function () {
        $("#frm").on("submit", function (e) { e.preventDefault(); });
        $("#MyModal1").off("click", ".js_btnOk");
        $("#MyModal1").on("click", ".js_btnOk", GuardarEdit);
    });
</script>