@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_PaisesModel

@{
    ViewBag.Title = "Pais";
    Layout = null;
}

<p>
    <label>
        @Html.DisplayNameFor(model => model.Descripcion)
    </label>
    @Html.DisplayFor(model => model.Descripcion)
</p>
