
@{
    ViewBag.Title = "Sistema Integral Comapat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function openInNewTab(url) {
        var win = window.open(url, '_blank');
        win.focus();
    }
</script>
<div class="rowlogo">
    <img src="@Url.Content("~/logo.png")" class="logo" alt="">
</div>
<hr>
<br>
<div class="row">
    <div class="col-sm-6 opcion" onclick="openInNewTab('https://geekstrabajando.com/Contabilidad/')">
        <div class="col-sm-12 imagen-con"></div>
        <label>SICOG</label>
    </div>  
    <div class="col-sm-6 opcion" onclick="openInNewTab('https://geekstrabajando.com/Sicose/')" >
        <div class="col-sm-12 imagen-com"></div>
        <label>SICOSE</label>
    </div>
</div>        