@{
    Layout = null;
}

<div class="row">
    <div  class="col-sm-3 col-sm-offset-2 ">
        <div data-id="1" class="cursorPointer excel">
            <span>Relación Detallada</span>
        </div>
    </div>
    <div class="col-sm-3 col-sm-offset-2  ">
        <div data-id="2" class="excel cursorPointer">
            <span>Relación Agrupada</span> 
        </div>
    </div>
</div>
