@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Egresos>
@{
    ViewBag.Title = "Importar archivo de Egresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var folio = ViewBag.Contrarecibo;
    var exito = ViewBag.Exito;
    int folioContrarecibo= 0;
    if (folio != null)
    {
        folioContrarecibo = Convert.ToInt32(folio);
    }
}
<h2>Importar archivo de Egresos</h2>
<div class="row">
    <div class="col-lg-12">
        <label class="label label-success">Cargar archivo de Egresos en Excel</label><br />
        <br />
        @using (Html.BeginForm("Egresos", "Importar", new { @area = "Tesoreria" }, FormMethod.Post, new { id = "frmEgresos", enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)
            <div class="col-lg-12">
                <input type="file" id="archivoExcel" name="archivoExcel" />
                <br />
                <a class="btn btn-success" id="btnImportar">Importar</a>
            </div>
        }
    </div>
</div>
<h3>Detalles</h3>
<table id="tablaNomina" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Cuenta</th>
            <th class="text-center">Cargos</th>
            <th class="text-center">Abonos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Cuenta)</td>
                <td class="text-right">@String.Format("{0:C}", item.Cargos)</td>
                <td class="text-right">@String.Format("{0:C}", item.Abonos)</td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        $(document).on("ready", function () {
            ConstruirTabla("tablaNomina");
            $("#btnImportar").on("click", function () {
                if ($("#archivoExcel").val() != "") {
                    ConfirmCustom("Por favor confirme que desea importar el archivo de Egresos",
                        function () {
                            $("#frmEgresos").submit();
                        }, "", "Aceptar", "Cancelar");
                }
            });
            $("#archivoExcel").on("change", function () {
                if ($(this).val() != "") {
                    var nombre = $(this).val().split(".");
                    var extencion = nombre[nombre.length - 1].toUpperCase();
                    if (extencion != "XLS" && extencion != "XLSX") {
                        $(this).val("");
                        ErrorCustom("Solamente puede subir archivos en Excel", "");
                    }
                    else if (this.files[0].size > 2097152) {
                        ErrorCustom("El archivo no debe ser mayor a 2 MB", "");
                        $(this).val("");
                    }
                }
            });
            @if (exito!=null)
            {
                if (exito && folioContrarecibo > 0)
                {
                <text>
            ExitoCustom('El archivo ha sido importado con éxito, el Folio del Contrarecibo es @folioContrarecibo');
            </text>
                }


            }
        });
    </script>
}