@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContraRecibo</title>
    <link href="~/Content/contraRecibo.css" rel="stylesheet" />
</head>
<body>
    <div id="contenedor">
        <div class="row cabecera-reporte">
            <div class="titulo">CONTRA-RECIBO</div>
            <div class="datos-emision text-center">
                <span class="tipo">Original</span>
                <div class="emision-vencimiento">
                    <div class="f-emision">
                        <label>FECHA DE EMISION</label>
                        <span>12/12/2014</span>
                    </div>
                    <div class="f-vencimiento">
                        <label>FECHA DE VENCIMIENTO</label>
                        <span>12/15/2014</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tipo-numero">
                <div class="cabecera">
                    <div class="tipo">TIPO</div>
                    <div class="numero">NÚMERO</div>
                </div>
                <div class="contenidos">
                    <div class="tipo">1</div>
                    <div class="numero">355</div>
                </div>
            </div>
            <div class="beneficiario">
                <div class="cabecera">BENEFICIARIO</div>
                <div class="contenido">MIGUEL ANGEL AGUILAR CAMPOS</div>
            </div>
        </div>
        <div class="row">
            <div class="detalle">
                <div class="contenido">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center padding-left">NO DOCTO</th>
                                <th class="text-left">DESCRIPCIÓN</th>
                                <th class="text-center">FECHA</th>
                                <th class="text-right padding-right">IMPORTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center padding-left">1</td>
                                <td class="text-left">FACTURAS</td>
                                <td class="text-center">12/12/2014</td>
                                <td class="text-right padding-right">100.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="recibio-total">
                <div class="recibio">
                    <div class="persona">Puente Asesora</div>
                    <div class="concepto">RECIBIÓ DOCUMENTACION</div>
                </div>
                <div class="total">
                    <div class="cabecera">
                        <label>TOTAL</label>
                    </div>
                    <div class="contenido">100.00</div>
                </div>
            </div>
        </div>

        <!-- Aca está el código de la copia -->

        <div class="row cabecera-reporte">
            <div class="titulo">CONTRA-RECIBO</div>
            <div class="datos-emision text-center">
                <span class="tipo">Copia</span>
                <div class="emision-vencimiento">
                    <div class="f-emision">
                        <label>FECHA DE EMISION</label>
                        <span>12/12/2014</span>
                    </div>
                    <div class="f-vencimiento">
                        <label>FECHA DE VENCIMIENTO</label>
                        <span>12/15/2014</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tipo-numero">
                <div class="cabecera">
                    <div class="tipo">TIPO</div>
                    <div class="numero">NÚMERO</div>
                </div>
                <div class="contenidos">
                    <div class="tipo">1</div>
                    <div class="numero">355</div>
                </div>
            </div>
            <div class="beneficiario">
                <div class="cabecera">BENEFICIARIO</div>
                <div class="contenido">MIGUEL ANGEL AGUILAR CAMPOS</div>
            </div>
        </div>
        <div class="row">
            <div class="detalle">
                <div class="contenido">
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center padding-left">NO DOCTO</th>
                                <th class="text-left">DESCRIPCIÓN</th>
                                <th class="text-center">FECHA</th>
                                <th class="text-right padding-right">IMPORTE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center padding-left">1</td>
                                <td class="text-left">FACTURAS</td>
                                <td class="text-center">12/12/2014</td>
                                <td class="text-right padding-right">100.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="recibio-total">
                <div class="recibio">
                    <div class="persona">Puente Asesora</div>
                    <div class="concepto">RECIBIÓ DOCUMENTACION</div>
                </div>
                <div class="total">
                    <div class="cabecera">
                        <label>TOTAL</label>
                    </div>
                    <div class="contenido">100.00</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
