@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_MunicipiosModel>
@{
    ViewBag.Title = "Catálogo de Municipios";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
@Html.Partial("PdfHeader")
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Descripcion">
                Municipio
            </th>
            <th data-title="CA_Estado.Descripcion">
                Estado
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CA_Estado.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>

