@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reciboIndividual</title>
    <style>
        .cuerpo {
            width: 1100px;
            height: 385px;
        }
        .contenido {
            width:770px;
        }

        .fecha {
            margin-top: 100px;
            border-bottom:1px solid #000;
            text-align:right;
            width: 700px;
        }
        .paguese {
            margin-top: 20px;
            border-bottom:1px solid #000;
            text-align:left;
        }
        .cantidad {
            margin-top: 20px;
            border-bottom:1px solid #000;
            text-align:left;
        }
        .chequeno {
            margin-top: 20px;
            border-bottom:1px solid #000;
            text-align:right;
        }
    </style>
</head>
<body>
    <div class="cuerpo">
        <div class="contenido">
            <div class="fecha">20/20/2020</div>
            <div class="paguese">Noel alejandro escobedo solorzano</div>
            <div class="cantidad">(CINCUENTAMIL PESOS MONEDA MEXICANA)</div>
            <div class="chequeno">2312312</div>
        </div>
    </div>
</body>
</html>
