@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div>
    <label>Descripción</label><br />
    @Html.TextBox("BDescripcionBeneficiario","", new { @class="form-control" })
</div>

<div id="resultsBeneficiarios"></div>