<link href="~/Content/Menu.css" rel="stylesheet" />
<div id="menu-lateral">
    <ul>
        <li id="liAgregar">
            <a>
                <i class="fa fa-plus fa-x2"></i>
                <div class="nombre">Adicionar</div>
            </a>
        </li>
        <li id="liEditar">
            <a>
                <i class="fa fa-edit"></i>
                <div class="nombre">Editar</div>
            </a>
        </li>
        <li id="liCancelar">
            <a>
                <i class="fa fa-ban"></i>
                <div class="nombre">Cancelar</div>
            </a>
        </li>
        <li id="liBuscar">
            <a>
                <i class="fa fa-search"></i>
                <div class="nombre">Buscar</div>
            </a>
        </li>
        <li id="liGuardar">
            <a>
                <i class="fa fa-save"></i>
                <div class="nombre">Guardar</div>
            </a>
        </li>
        <li id="liDetalles">
            <a>
                <i class="fa fa-file-text-o"></i>
                <div class="nombre">Detalles</div>
            </a>
        </li>
        <li id="liRecibido">
            <a>
                <i class="fa fa-check"></i>
                <div class="nombre">Recibido</div>
            </a>
        </li>
        <li id="liSalir">
            <a>
                <i class="fa fa-power-off"></i>
                <div class="nombre">Salir</div>
            </a>
        </li>
    </ul>
</div>

