@{
    Layout = null;
}

<div data-title="Búsqueda de la Cuenta Contable" class="TituloModal"></div>
<div data-text="Buscar" class="btnOk"></div>
<div data-text="Cerrar" class="btnCancel"></div>
<div class="row">
    <div class="col-sm-12">
        <label>Descripción de la cuenta contable</label>
        <input type="text" name="Descripcion" id="Descripcion" class="form-control" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="div_tablaBusqueda"></div>
    </div>
</div>