<div data-title="Eliminar Presupuesto de Egreso" class="TituloModal"></div>
<div data-text="Aceptar" class="btnOk"></div>
<div data-text="Cancelar" class="btnCancel"></div>
<div class="row">
    <div class="col-xs-4 text-right">
        <label>Fecha de cancelación: </label>
    </div>
    <div class="col-xs-2">
        <div class='input-group date'>
            <input type="text" id="fechaCancelacion" name="fechaCancelacion" />
            <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
            </span>
        </div>
    </div>
</div>