*
	margin 0
	padding 0
body
	font-family Arial
#contenedor
	width 1100px
	margin auto
	//border 1px solid
.row
	display block
	clear both
.cabecera-reporte
	height 200px
	position relative
.titulo
	font-size 45px
	font-weight bold
	text-align center
	padding-top 50px
	margin-top 30px
.datos-emision
	position absolute
	top 0
	right 0
	width 240px
	.tipo
		font-size 20px
	.emision-vencimiento
		border 1px solid #000
		border-radius 15px
		margin-top 10px
		font-size 14px
		.f-emision,
		.f-vencimiento
			padding 12px 10px
			label 
				line-height 27px
				display block
		.f-emision
			border-bottom 1px solid #000

.tipo-numero
	float left
	border 1px solid #000
	border-radius 15px
	text-align center
	margin-top -20px
	.cabecera
		border-bottom 1px solid #000
		border-top 1px solid #000
		margin-top 20px
		overflow hidden
		height 30px
		line-height 30px
		font-weight bold
	.tipo
		width 70px
		border-right 1px solid #000
		height 100%
		float left
	.numero 
		width 150px
		float left
	.contenidos
		.numero,
		.tipo
			height 90px
			line-height 90px
			font-size 25px
.beneficiario
	float right
	border 1px solid #000
	width 75%
	height 100px
	border-radius 10px
	margin-left 10px
	.cabecera
		width 100%
		border-bottom 1px solid #000
		font-weight bold
	.cabecera,
	.contenido
		box-sizing border-box
		padding 10px
.detalle
	padding-top 25px
	padding-bottom 25px
	.contenido
		border 1px solid #000
		border-radius 10px
		height 300px
		table
			width 100%
			border-collapse collapse
			font-size 14px
			thead
				th
					border-bottom 1px solid #000
					height 40px
					line-height 40px
			td
				padding 8px 0px
		.padding-left
			padding-left 10px
			padding-right 35px
			width 100px
		.padding-right
			padding-right 40px

.recibio-total
	text-align center
	overflow hidden
	.recibio
		float left
		width 400px
		margin-left 60px
		.concepto
			border-top 1px solid #000
			margin-top 5px
	.total 
		float right
		.cabecera
			display inline-block
		.contenido
			display inline-block
			border 1px solid #000
			height 30px
			line-height 30px
			width 150px
			text-align right
			padding 5px
label
	font-weight bold
.text-center
	text-align center
.text-right
	text-align right
.text-left
	text-align left