@font-face {
    font-family: 'RobotoRegular';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Roboto/roboto_regular_macroman/Roboto-Regular-webfont.woff");
}

@font-face {
    font-family: 'RobotoBold';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Roboto/roboto_bold_macroman/Roboto-Bold-webfont.woff");
}

html {
    height: 100%;
}

body {
    height: 100%;
}

    body h1,
    body h2,
    body h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
    }

    body #body {
        min-height: 100%;
    }

    body #main {
        width: 100%;
    }

        body #main.row {
            margin-left: 0;
        }

.page-wrap {
    min-height: 100%;
    margin-bottom: -100px;
}

    .page-wrap:after {
        content: "";
        display: block;
    }

    #footer,
    .page-wrap:after {
        min-height: 100px;
    }

#footer {
    background: $rojo_vino;
}

#header {
    min-height: 100px;
background-color:#2014FF;
    height: 100px;
    color: #fff;
}

    #header #logo_gob {
        float: left;
        width: 238px;
    }

    #header .textos {
        float: left;
        margin: 26px 0;
        font-size: 15px;
        color: #7e7e7e;
    }

        #header .textos span {
            font-family: "RobotoRegular";
        }

            #header .textos span.negritas {
                font-family: "RobotoBold";
            }

    #header .titulo {
        font-size: 20px;
        line-height: 28px;
    }

    #header .subtitulo {
        font-size: 15px;
        line-height: 10px;
        text-transform: uppercase;
    }

    #header #titulos {
        float: left;
        width: 360px;
        padding-top: 9px;
    }

.field-validation-error,
.validation-summary-errors {
    color: #f00;
}

.sign-out.col-lg-5 {
    height: 90%;
    min-height: 90px;
    background: none repeat scroll 0% 0% #a6a8a1;
    text-align: right;
}

    .sign-out.col-lg-5 img {
        display: block;
        margin: 1em auto 6px;
    }

    .sign-out.col-lg-5 a,
    .sign-out.col-lg-5 span {
        color: #fff;
    }

    .sign-out.col-lg-5 #cerrarSesion {
        width: 97px;
        text-align: center;
        float: left;
    }

        .sign-out.col-lg-5 #cerrarSesion a {
            text-decoration: none;
        }

    .sign-out.col-lg-5 #ChagePass {
        display: block;
    }

        .sign-out.col-lg-5 #ChagePass img {
            display: inline;
            margin: 0;
        }

    .sign-out.col-lg-5 .saludo {
        font-weight: bold;
        color: #fff;
        padding-top: 10px;
    }

    .sign-out.col-lg-5 hr {
        margin-top: 2px;
        margin-bottom: 6px;
    }

.btn {
    border-radius: 0px !important;
}

.btn-success {
    background: #119548 !important;
}

    .btn-success:hover {
        background: #0f8641 !important;
    }

    .btn-success.salir {
        padding: 10px 30px;
        font-size: 18px;
    }

.btn-entrar {
    background-color: #119548;
    transition: background-color 0.5s ease-in;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 0;
    margin-top: -7px;
}

    .btn-entrar:hover {
        background-color: #15b457;
        color: #fff;
    }

.progress .progress-bar {
    background: #119548;
}

.dataTables_wrapper #combo_datatable select {
    height: 30px !important;
    border: 1px solid #ddd;
    line-height: 30px;
}

.dataTables_wrapper #combo_datatable {
    margin-top: 20px;
}

.dataTables_wrapper .table th {
    border-bottom: none;
}

.dataTables_wrapper .acciones,
.iconos_wraper .acciones {
    text-align: center;
    font-size: 24px;
    color: #119548;
    line-height: 20px;
}

    .dataTables_wrapper .acciones.izquierda,
    .iconos_wraper .acciones.izquierda {
        text-align: left;
    }

    .dataTables_wrapper .acciones i,
    .iconos_wraper .acciones i {
        cursor: pointer;
    }

    .dataTables_wrapper .acciones a,
    .iconos_wraper .acciones a {
color:#2014FF;
        cursor: pointer;
        text-decoration: none;
    }

    .dataTables_wrapper .acciones .js_cerrar,
    .iconos_wraper .acciones .js_cerrar {
        cursor: pointer;
    }

table#tblSaldos.dataTable tfoot th,
table#tblDetallesTransferencia.dataTable tfoot td {
    padding: 8px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=number] {
    min-height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
    padding: 2px;
}

select[multiple],
select[size],
select {
    height: 30px;
    border: 1px solid #ddd;
    line-height: 30px;
}

#tbl_filter input[type=search],
.dataTables_filter input[type=search] {
    width: 307px;
}

.editor-field input[type=text],
.editor-field input[type=password],
.editor-field input[type=email],
.editor-field input[type=search],
.editor-field select {
    width: 100%;
    margin-bottom: 10px;
}

.editor-label {
    font-weight: bold;
}

#ChangePassForm input[type=text],
#ChangePassForm input[type=password],
#ChangePassForm textarea,
#ChangePassForm select {
    background: #efefef;
    border: 1px solid #c2c2c2;
    padding: 10px;
    width: 100%;
}

#ChangePassForm .visor {
    color: #4dba45;
    cursor: pointer;
    font-size: 1.3em;
}

.txtNegritas {
    font-weight: bold;
}

.txtCentrado {
    text-align: center;
}

.cursorPointer {
    cursor: pointer;
}

#sortable.ui-sortable {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.ui-sortable-handle {
    cursor: move;
    list-style: none;
    padding: 10px;
    border: 1px dashed #ccc;
    line-height: 18px;
    margin-bottom: 5px;
}

    .ui-sortable-handle:hover i {
        color: #13a44f;
    }

    .ui-sortable-handle i {
        color: #dbdcd9;
        margin-right: 10px;
        font-size: 18px;
    }

#barra-navegacion {
    background-color: #f5f5f5;
}

    #barra-navegacion .col-sm-12 {
        padding: 10px;
    }

    #barra-navegacion a {
        padding: 8px;
        color: #333;
    }

#frmUsuario .editor-field {
    margin-bottom: 10px;
}

    #frmUsuario .editor-field input[type=text],
    #frmUsuario .editor-field input[type=email] {
        width: 100%;
        padding: 5px;
    }

.txtVerde {
    color: #13a44f;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin-top: -2px;
    background: #13a44f;
    color: #fff;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
    }

#uploadFile {
    height: 35px;
    width: 300px;
}

#modal-pass .modal-body {
    min-height: 120px;
    width: 598px;
}

.well {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.05) inset;
    background-color: #f5f5f5;
}

.d {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 5em;
}

.iconos {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
    margin-top: 2em;
    min-height: 70px;
    padding-top: 1.7em;
    padding-bottom: 1.2em;
}

    .iconos i {
        color: #119548;
        font-size: 24px;
        margin-right: 5px;
    }

.fondoMenu {
    background: #faf9f3;
    border: 1px solid #ccc;
}

.jqx-rc-all {
    border-radius: 0 !important;
}

.jqx-widget-header {
    border: none !important;
    background-color: #faf9f3 !important;
}

#logo_gob {
    margin-top: 15px;
}

#login {
    padding: 10px;
}

    #login a {
        color: #fff;
    }

#ParcialPresupuesto label {
    font-size: 12px;
}

#ParcialPresupuesto .formPresup {
    display: inline-block;
}

.importe {
    width: 155px;
    text-align: right;
}

.folio,
.contra-recivo,
.no-requisision,
.id-cuenta-bancaria {
    width: 68px;
    text-align: right;
}

.folio_group {
    width: 100px;
}

.descripcion-cuenta {
    width: 120px;
}

.mes {
    width: 110px;
}

.fecha {
    width: 100px;
}

.fecha_group {
    width: 120px;
}

.fecha_select {
    width: 110px;
}

.cheque {
    width: 95px;
}

.folio_mes {
    width: 192px;
}

.cuenta_group {
    width: 211px;
}

.mayus {
    text-transform: uppercase;
}

.num-nomina {
    width: 68px;
}

.orden {
    width: 80px;
}

.txt-estatus {
    width: 118px;
}

.centro-gestor,
.group-egreso-clave {
    width: 108px;
}

.centro-gestor-desc,
.egreso-desc {
    width: 339px;
}

.proveedor-group {
    width: 110px;
}

.aplicacion-contable-group {
    width: 208px;
}

.fuente-finc-group {
    width: 108px;
}

.tipo-cr {
    width: 50px;
}

.consecutivo {
    width: 91px;
    display: inline-block;
    text-align: right;
}

.div_tipo_cr input[type=text],
.div_inline input[type=text] {
    display: inline;
}

.cargo-abono {
    width: 100px;
}

.div_inline_block {
    display: inline-block;
    vertical-align: top;
}

.usuario_recibe {
    width: 411px;
}

#DescripcionSaldo {
    width: 530px;
    margin-left: 10px;
}

.Ca_Cuentas_Descripcion {
    width: 410px;
}

.contenedor-fijo {
    width: 1110px;
}

.detalle_polizas1 {
    width: 725px;
    float: left;
}

.detalle_polizas2 {
    width: 772px;
    float: left;
}

.detalle_polizas3,
#_detalles_presupuesto,
#_detalles_ReciboIgresos {
    width: 841px;
    float: left;
}

    .detalle_polizas3 .labels,
    #_detalles_presupuesto .labels,
    #_detalles_ReciboIgresos .labels {
        width: 186px;
    }

    .detalle_polizas3 .inputs,
    #_detalles_presupuesto .inputs,
    #_detalles_ReciboIgresos .inputs {
        width: 109px;
    }

    .detalle_polizas3 .egreso-desc,
    #_detalles_presupuesto .egreso-desc,
    #_detalles_ReciboIgresos .egreso-desc {
        width: 519px;
    }

    .detalle_polizas3 .Id_Cuenta,
    #_detalles_presupuesto .Id_Cuenta,
    #_detalles_ReciboIgresos .Id_Cuenta {
        width: 208px;
    }

    .detalle_polizas3 #Ca_Cuentas_Descripcion,
    #_detalles_presupuesto #Ca_Cuentas_Descripcion,
    #_detalles_ReciboIgresos #Ca_Cuentas_Descripcion,
    .detalle_polizas3 #Ca_Cur_Descripcion,
    #_detalles_presupuesto #Ca_Cur_Descripcion,
    #_detalles_ReciboIgresos #Ca_Cur_Descripcion {
        width: 410px;
    }

#Ca_FuentesFin_Descripcion {
    width: 240px;
}

#_distribucion {
    width: 357px;
    float: left;
}

#cabecera_detalle_compr {
    border-bottom: 1px solid #eee;
    padding-bottom: 34px;
    margin-bottom: 30px;
}

#Id_CuentaFormato {
    width: 185px;
}

.tipo_movimiento {
    width: 90px;
}

textarea.observaciones_orden {
    height: 35px;
}

.tabla-detalle label {
    margin-bottom: 0;
    margin-right: 5px;
}

.fecha-inline {
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 4px;
}

.margin-25 {
    margin-top: 25px;
}

.margin-left-10 {
    margin-left: 10px;
}

#treeGrid .jqx-grid-column-header {
    font-weight: bold;
    color: #333;
}

#tbl_CuentasMeses thead td {
    font-weight: bold;
}

.bordered {
    border: 1px solid #ddd;
}

.input-group-addon {
    cursor: pointer;
}

.input-group.id-beneficiario {
    width: 101px;
}

#fondo-inicio {
    background: url("../Images/Contabilidad.jpg") center center;
    height: 700px;
    padding-top: 200px;
    background-size: 100% auto;
}

#select-db {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px 15px;
    background-color: #fff;
    min-width: 222px;
}

    #select-db a {
        color: #333;
        font-size: 20px;
    }

    #select-db .dropdown-menu {
        min-width: 222px;
        text-align: center;
    }

        #select-db .dropdown-menu li {
            cursor: pointer;
            font-size: 20px;
            padding: 10px 15px;
        }

            #select-db .dropdown-menu li:hover {
                background-color: #a3cc9d;
                color: #fff;
            }

#menu-lateral {
    width: 30px;
    left: 0;
    position: fixed;
}

    #menu-lateral ul {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
    }

    #menu-lateral li {
        list-style-type: none;
        margin: 0;
        padding: 0 0 0 5px;
        font-size: 40px;
        height: 46px;
    }

        #menu-lateral li a {
color:#2014FF;
            cursor: pointer;
        }

            #menu-lateral li a:hover {
color:#2014FF;
            }

    #menu-lateral .active a {
        color: #008000 !important;
    }

    #menu-lateral .enabled a {
        cursor: not-allowed !important;
        color: #808080;
    }

    #menu-lateral .nombre {
        min-width: 400px;
        position: absolute;
        padding-left: 40px;
        margin-top: -56px;
        display: none;
        z-index: 600;
        font-size: 20px;
        line-height: 56px;
    }

        #menu-lateral .nombre .div_inline_block {
            background-color: #fff;
            padding-right: 10px;
            border-radius: 10px;
        }

input[type=checkbox].form-control {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 16px;
    margin-top: 4px;
}

.separador_dos {
    background-color: #faf9f3;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
}

    .separador_dos input[disabled="disabled"] {
        box-shadow: none;
    }

    .fieldsets_chicos fieldset,
    .separador_dos fieldset {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .fieldsets_chicos legend,
    .separador_dos legend {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 2px;
    }

.msg {
    width: 100%;
    padding: 12px 10px;
}

    .msg.success {
        background-color: #38ae43;
        color: #fff;
    }

    .msg.warning {
        background-color: #ffc107;
        color: #333;
    }

    .msg.error {
        background-color: #f44336;
        color: #fff;
    }

    .msg .fa-check {
        font-size: 20px;
        margin-right: 10px;
    }

.fieldDetalles fieldset {
    border-radius: 8px;
    border: 1px solid #b2b0b0;
    box-shadow: 0 0 10px #999;
    padding: 10px;
}

    .fieldDetalles fieldset legend {
        background: #fff;
        border-width: 0px;
        width: 10%;
    }

.in-line {
    margin-top: 23px;
}

#submenu {
    padding-left: 0px;
}

    #submenu li {
        text-decoration: none;
        cursor: pointer;
        list-style: none;
    }

        #submenu li:hover {
            background-color: #f7f7f7;
        }

        #submenu li.border {
            border-bottom: 1px solid #f7f7f7;
            margin-bottom: 10px;
        }

.contenedorConciliacion {
    padding: 8px 130px;
}

    .contenedorConciliacion .table-conciliacion {
        border-bottom: none;
        min-width: 100%;
        width: 100%;
    }

        .contenedorConciliacion .table-conciliacion tr .Nivel1 {
            padding: 8px 10px;
        }

        .contenedorConciliacion .table-conciliacion tr .Nivel2 {
            padding: 8px 30px;
        }

        .contenedorConciliacion .table-conciliacion tr .Nivel3 {
            padding: 8px 50px;
        }

        .contenedorConciliacion .table-conciliacion tr .Nivel4 {
            padding: 8px 0px 40px 500px;
        }

        .contenedorConciliacion .table-conciliacion tr .total {
            padding: 8px 0px 40px 10px;
            border-top: 2px solid #000;
        }

.tablaConciliacion thead tr th {
    font-size: 12px;
}

.tablaConciliacion tbody tr td {
    font-size: 12px;
}

    .tablaConciliacion tbody tr td.acciones {
        font-size: 20px;
    }

.excel {
    background-color: #119548;
    transition: background-color 0.5s ease-in;
    border: 1px solid $Verde;
    border-radius: 5px;
    min-height: 100px;
    padding: 20px 5px 5px 5px;
    text-align: center;
    width: 100%;
}

    .excel span {
        color: #fafafa;
        font-family: roboto_bold_macroman;
        font-size: 20px;
    }

    .excel:hover {
        background-color: #15b457;
    }
/*	
4cafe8 //Azul
f5f1e6 //Crema
7bbc6f //Verde fuerte
1faeff //otro azul
*/
