*
	margin 0
	padding 0
body
	font-family Arial
#contenedor
	width 1200px
	margin auto
	//border 1px solid
.row
	display block
	clear both
.text-right
	text-align right
//.cabecera
.poliza
	border-top 1px solid #000
	border-bottom 1px solid #000
	padding 4px 0px
	margin-top 10px
	margin-bottom 10px
	overflow hidden
	.tipo,
	.folio,
	.mes,
	.fecha
		display inline-block
		padding 0px 15px 0px 0px
		font-weight bold
	.descripcion
		margin-top 6px
		display block
	
.gobierno,
.instituto,
.sistema,
.ejercicio
	text-align right
	font-weight bold
	padding 2px 0px
	
table.tablaGrande
	width 100%
	border-collapse collapse
	thead
		th
			background #e5e5e5
			padding 15px 8px
			text-align left
		.text-right
			text-align right
		.text-center
			text-align center
	tbody
		td
			padding 4px 8px
			vertical-align top
	.tfoot,
	tfoot
		td
			padding 4px 8px
.txtNegritas
	font-weight bold	
.logo-ente
	height 100px
	float left
	
.text-center
	text-align center
.text-right
	text-align right
.text-left
	text-align left
	
.totales 
	font-weight bold
	border-top 1px solid #000
.contenedorConciliacion
	padding 8px 130px
	.table-conciliacion
		border-bottom none
		min-width 100%
		width 100%
		tr 
			.Nivel1
				padding 8px 10px
			.Nivel2
				padding 8px 30px
			.Nivel3
				padding 8px 50px
			.Nivel4
				padding 8px 0px 40px 500px
			.total
				padding 8px 0px 40px 10px
				border-top 2px solid black
/*	