
.consultar
	margin-top:23px
#js_busqueda
	font-family: 'Arimo', sans-serif
	font-size:9px
	.contenedor
		border:1px solid black
		padding-bottom:10px
	.ente
		margin:10px 0px 10px 0px
	.firmantes
		margin-top: 110px
		div
			border-top:1px solid black
	.protesta
		border-top:1px solid black
		margin-top:15px
		padding-top: 5px
	.underline
		border-bottom:1px solid black
		
	table
		width:100%
		thead
			tr
				border:1px solid black
				height: 26px
				
			.red
				background-color:#FF0000
				color:#fafafa
			.green
				background-color:#339933
				color:#fafafa
		tbody
			.yellow
				background-color:#FFC000
				text-align:center
				vertical-align:top
			.total
				padding:10px 0px 10px 0px
				div
					background-color:#FFFF00
					font-weight: bold
					vertical-align:middle
			.total-rojo
				padding:10px 0px 10px 0px
				div
					background-color:#C00000
					color:white
					font-weight: bold
					vertical-align:middle
			.text-right
				padding-left: 15px
				width: 100px
			 	