$verde=#92D050
.consultar
	margin-top:23px
#js_busqueda
	font-family: 'Arimo', sans-serif
	font-size:10px
	.contenedor
		border:1px solid black
		padding-bottom:10px
	.green
		background-color $verde
	.titulos
		border:1px solid black
		padding 20px
		margin-bottom 25px
		label
			color black
		
	table
		width:100%
		.yellow
				background-color:#FFFF00
		thead
			tr
				background-color $verde
				height: 26px
				th
					padding 5px
					border:1px solid black
				
			.red
				background-color:#FF0000
				color:#fafafa
			.green
				background-color:#339933
				color:#fafafa
		tbody
			tr.espacio
				height 10px !important
			tr.border
				border 1px solid black
			td 
				border-rigth 1px solid black
				border-left 1px solid black
				padding 5px
			td.Nivel2
				padding-left 30px
			td.Nivel3
				padding-left 60px
			.total
				padding:10px 0px 10px 0px
				div
					background-color:#FFFF00
					font-weight: bold
					vertical-align:middle
			.total-rojo
				padding:10px 0px 10px 0px
				div
					background-color:#C00000
					color:white
					font-weight: bold
					vertical-align:middle
			.text-right
				padding-left: 15px
				width: 100px
#js_busquedaImpreso
	font-family: 'Arimo', sans-serif
	font-size:10px
	.contenedor
		border:1px solid black
		padding-bottom:10px
	.mayus
		text-transform uppercase
	table
		width:100%
		font-size:11px
		tbody
			tr.espacio
				height 10px !important
			tr.border
				border 1px solid black
			td 
				border-rigth 1px solid black
				border-left 1px solid black
				padding 5px
			td.Nivel2
				padding-left 30px
			td.Nivel3
				padding-left 60px
			.text-right
				padding-left: 15px
				width: 100px