body
	background #CCC
	font-family Arial
	margin 0
	padding 0

#header
	text-align center
	background #283C48
	font-size 30px
	color white
	padding 20px
	margin-bottom 30px
	font-weight bold
	
#menu-sistemas
	a
		text-decoration none
	.item
		width 80%
		height 170px
		background #FFF
		margin auto
		max-width 1020px
		min-width 600px
		box-shadow: 10px 10px 5px #888888
		margin-bottom 30px
		.imagen
			width 50%
			height 100%
			background-size 100% 100%
			background-position center center
			float right
			&.adquisiciones
				background-image url(../Images/selectordesistemas/responsive_adquisiciones.png)
			&.tesoreria
				background-image url(../Images/selectordesistemas/responsive_tesoreria.png)
		.info
			width 50%
			height 100%
			.titulo
				font-size 30px
				color #939393
				font-weight bold
				border-bottom 2px solid #CCC
				width 90%
				margin auto
				padding 10px
			