<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la afdsfdsplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnet-TesoreriaVS12-20141029100449.mdf;Initial Catalog=aspnet-TesoreriaVS12-20141029100449;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <!--<add name="BD_CtrlGralEntities" connectionString="metadata=res://*/Models.CtrGral.csdl|res://*/Models.CtrGral.ssdl|res://*/Models.CtrGral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq3.a2hosting.com;initial catalog=geekstra_CG_CtrlGral;persist security info=True;user id=geekstra_admin;password=Churrasco38;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_TesoreriaEntities" connectionString="metadata=res://*/Areas.Tesoreria.Models.BD_Tesoreria.csdl|res://*/Areas.Tesoreria.Models.BD_Tesoreria.ssdl|res://*/Areas.Tesoreria.Models.BD_Tesoreria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq3.a2hosting.com;initial catalog=geekstra_CG_2015;persist security info=True;user id=geekstra_admin;password=Churrasco38;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ControlGeneralContainer" connectionString="metadata=res://*/Models.ControlGeneral.csdl|res://*/Models.ControlGeneral.ssdl|res://*/Models.ControlGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mi3-wsq3.a2hosting.com;initial catalog=geekstra_CG_CtrlGral;user id=geekstra_admin;password=Churrasco38;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <add name="BD_CtrlGralEntities" connectionString="metadata=res://*/Models.CtrGral.csdl|res://*/Models.CtrGral.ssdl|res://*/Models.CtrGral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=BD_CtrlGral;persist security info=True;user id=sa;password=DBsa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BD_TesoreriaEntities" connectionString="metadata=res://*/Areas.Tesoreria.Models.BD_Tesoreria.csdl|res://*/Areas.Tesoreria.Models.BD_Tesoreria.ssdl|res://*/Areas.Tesoreria.Models.BD_Tesoreria.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=BD_SICG_2015;persist security info=True;user id=sa;password=DBsa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ControlGeneralContainer" connectionString="metadata=res://*/Models.ControlGeneral.csdl|res://*/Models.ControlGeneral.ssdl|res://*/Models.ControlGeneral.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2012;initial catalog=BD_CtrlGral;user id=sa;password=DBsa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Ip" value="10.10.5.60" />-->
    <!--<add key="User" value="SysMetropolitano" />
    <add key="Pass" value="/*MetropolitanoSys" />-->
    <!--<add key="Ip" value="10.10.5.55"/>-->
    <!--<add key="Ip" value="mi3-wsq3.a2hosting.com" />
    <add key="User" value="geekstra_admin" />
    <add key="Pass" value="Churrasco38" />-->
    <add key="Ip" value=".\sql2012" />
    <add key="User" value="sa" />
    <add key="Pass" value="DBsa123" />
    <add key="ftpUser" value="ftpcontabilidad" />
    <add key="ftpPass" value="contabilidad" />
    <add key="urlFtp" value="ftp://10.10.20.237" />
    <add key="IdReportes" value="[597,599,737]" />
    <add key="WebServiceCorreo" value="http://www.colima-estado.gob.mx/kioscos/tramitesyservicios/wscorreos/wscorreos.php" />
    <!--Url para servicio REST-->
    <add key="Url_WS_Tesoreria" value="http://10.10.30.15/wsadquisiciones/index.php/apiV1/" />
    <add key="MomentoWSAdquisiciones" value="D" />
    <add key="desarrolloAntonio" value="1" />
  </appSettings>
  <system.web>
    <sessionState timeout="40"></sessionState>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="es" culture="es-MX" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>